force-app/main/default/flows/Freight_Percentage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>All_Margin</name>
        <label>All Margin</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Margin_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateAllMargin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Margin_All_Quantities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Margin_All_Quantities__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMarginQty</targetReference>
            </connector>
            <label>updateAllMargin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_ACC_Name</name>
        <label>Update ACC Name</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateAccName</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cost_1__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAccount</targetReference>
            </connector>
            <label>UpdateAccName</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Freight_Percentage</name>
        <label>Update Freight Percentage</label>
        <locationX>732</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Freight_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_Percentage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Destination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freight_Percentage_Update</targetReference>
            </connector>
            <label>Freight Percentage</label>
        </rules>
        <rules>
            <name>MarginQuantities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Margin_All_Quantities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Margin_All_Quantities__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateMarginQty</targetReference>
            </connector>
            <label>MarginQuantities</label>
        </rules>
        <rules>
            <name>Update_Margin_Quantity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_1__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_2__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_3__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_4__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_5__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateQty</targetReference>
            </connector>
            <label>Update Margin Quantity</label>
        </rules>
        <rules>
            <name>Update_Account_Name</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cost_1__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateAccount</targetReference>
            </connector>
            <label>Update Account Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Margin_Qty</name>
        <label>Update Margin Qty</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_ACC_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Qty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_1__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_2__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_3__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_4__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Price_Estimation_5__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQty</targetReference>
            </connector>
            <label>Update Qty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>freightPercent</name>
        <dataType>Number</dataType>
        <expression>IF (
      OR (
          ISBLANK({!$Record.Freight_Cost_Per_Case__c}), 
          {!$Record.Freight_Cost_Per_Case__c}= 0.00
          ),
      (CASE( {!$Record.Business_Unit__c}, 
         &quot;POS&quot;, 0.075, 
         &quot;Labels&quot;, 0.060, 
          null)
       ),
    0.00
 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Freight Percentage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Freight Percentage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Freight_Percentage_Update</name>
        <label>Freight Percentage Update</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>All_Margin</targetReference>
        </connector>
        <inputAssignments>
            <field>Freight_Percentage__c</field>
            <value>
                <elementReference>freightPercent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Acct_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateMarginQty</name>
        <label>updateMarginQty</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Margin_Qty</targetReference>
        </connector>
        <inputAssignments>
            <field>Margin_Qty_1__c</field>
            <value>
                <elementReference>$Record.Margin_All_Quantities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_2__c</field>
            <value>
                <elementReference>$Record.Margin_All_Quantities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_3__c</field>
            <value>
                <elementReference>$Record.Margin_All_Quantities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_4__c</field>
            <value>
                <elementReference>$Record.Margin_All_Quantities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_5__c</field>
            <value>
                <elementReference>$Record.Margin_All_Quantities__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQty</name>
        <label>updateQty</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_ACC_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Margin_Qty_1__c</field>
            <value>
                <elementReference>$Record.CP_Margin_Estimation1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_2__c</field>
            <value>
                <elementReference>$Record.CP_Margin_Estimation_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_3__c</field>
            <value>
                <elementReference>$Record.CP_Margin_Estimation_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_4__c</field>
            <value>
                <elementReference>$Record.CP_Margin_Estimation_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Qty_5__c</field>
            <value>
                <elementReference>$Record.CP_Margin_Estimation_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Freight_Percentage</targetReference>
        </connector>
        <object>Estimate_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
