force-app/main/default/flows/Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>checkRecordId</name>
        <label>checkRecordId</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Lead_Update_Lead_Intro_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Update_Lead_Intro_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stageLLI1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateField</targetReference>
            </connector>
            <label>Lead Update - Lead Intro 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Lead_Info</name>
        <label>Lead - Lead Info</label>
        <locationX>1348</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>updateEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateStatusLeadInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStatus</targetReference>
            </connector>
            <label>updateStatusLeadInfo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_No_Interest</name>
        <label>Lead - No Interest</label>
        <locationX>1348</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Lead_No_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>leadNoInterest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_No_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadStatus</targetReference>
            </connector>
            <label>leadNoInterest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_No_Response</name>
        <label>Lead - No Response</label>
        <locationX>1348</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Lead_Lead_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadNoResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_No_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusUpdateNoResponse</targetReference>
            </connector>
            <label>LeadNoResponse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Update_Lead_Intro_2</name>
        <label>Lead Update - Lead Intro 2</label>
        <locationX>1348</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>leadIntro3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_lead_intro_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_Intro_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadIntro2</targetReference>
            </connector>
            <label>update lead intro 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Wait</name>
        <label>Lead Wait</label>
        <locationX>1348</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Lead_No_Interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadWaitUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadWait</targetReference>
            </connector>
            <label>LeadWaitUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>leadIntro3</name>
        <label>leadIntro3</label>
        <locationX>1348</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Lead_Wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>leadIntro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_Intro_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadIntro3</targetReference>
            </connector>
            <label>leadIntro</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateEmail</name>
        <label>updateEmail</label>
        <locationX>1348</locationX>
        <locationY>3023</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateManagersEmail</name>
            <conditionLogic>(1 OR 2) AND 3 And 4</conditionLogic>
            <conditions>
                <leftValueReference>Check_Managers_Email_Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Owner_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Owner_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateManagerEmailField</targetReference>
            </connector>
            <label>updateManagersEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>1348</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Update_Cleansing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_record</targetReference>
            </connector>
            <label>Lead Update - Cleansing</label>
        </rules>
        <rules>
            <name>taskUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stageLLI1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Update_Lead_Intro_2</targetReference>
            </connector>
            <label>taskUpdate</label>
        </rules>
        <rules>
            <name>Lead_Intro_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_Intro_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Lead_Update_Lead_Intro_2</targetReference>
            </connector>
            <label>Lead Intro 2</label>
        </rules>
        <rules>
            <name>Lead_Update_Lead_Intro_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_Intro_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateLeadIntro3</targetReference>
            </connector>
            <label>Lead Update - Lead Intro 3</label>
        </rules>
        <rules>
            <name>Lead_Update_Lead_Wait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateLeadWait</targetReference>
            </connector>
            <label>Lead Update - Lead Wait</label>
        </rules>
        <rules>
            <name>Lead_Update_No_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_No_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateLeadStatus</targetReference>
            </connector>
            <label>Lead Update - No Interest</label>
        </rules>
        <rules>
            <name>Lead_Update_No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_No_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>statusUpdateNoResponse</targetReference>
            </connector>
            <label>Lead Update - No Response</label>
        </rules>
        <rules>
            <name>Lead_Update_Lead_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_to_next_stage_Lead_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateStatus</targetReference>
            </connector>
            <label>Lead Update - Lead Info</label>
        </rules>
        <rules>
            <name>Managers_Email</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Check_Managers_Email_Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Owner_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Owner_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updateManagerEmailField</targetReference>
            </connector>
            <label>Managers Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Check_Managers_Email_Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_updateField</name>
        <label>Copy 1 of updateField</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Lead_Update_Lead_Intro_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>60</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>statusUpdateNoResponse</name>
        <label>statusUpdateNoResponse</label>
        <locationX>1216</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Lead_Lead_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified - No Response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_record</name>
        <label>Update Lead Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>checkRecordId</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>59</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadIntro2</name>
        <label>updateLeadIntro2</label>
        <locationX>1216</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>leadIntro3</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>61</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadIntro3</name>
        <label>updateLeadIntro3</label>
        <locationX>1216</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Lead_Wait</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>62</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadStatus</name>
        <label>updateLeadStatus</label>
        <locationX>1216</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Lead_No_Response</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No Interest</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadWait</name>
        <label>updateLeadWait</label>
        <locationX>1216</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Lead_No_Interest</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lead Wait</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateManagerEmailField</name>
        <label>updateManagerEmailField</label>
        <locationX>1216</locationX>
        <locationY>3143</locationY>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>$Record.Lead_Owner_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatus</name>
        <label>updateStatus</label>
        <locationX>1216</locationX>
        <locationY>2807</locationY>
        <connector>
            <targetReference>updateEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>68</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1222</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
