force-app/main/default/flows/Lead_First_Call_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_alert</name>
        <label>Email alert</label>
        <locationX>490</locationX>
        <locationY>408</locationY>
        <actionName>Lead.Lead_First_Call_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Send_2_days</name>
        <label>Email Send 2 days after</label>
        <locationX>1810</locationX>
        <locationY>408</locationY>
        <actionName>Lead.Lead_First_Call_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Lead_owner</name>
        <label>Email to Lead owner</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Lead.Lead_First_Call_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_1_day</name>
        <label>Send Email 1 day</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>Lead.Lead_First_Call_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_4_hours</name>
        <label>Send Email 4 hours</label>
        <locationX>930</locationX>
        <locationY>408</locationY>
        <actionName>Lead.Lead_First_Call_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>LandingPage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VR,CGI</stringValue>
        </value>
    </constants>
    <constants>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cohen</stringValue>
        </value>
    </constants>
    <decisions>
        <name>X1_day_After_Lead</name>
        <label>1 day After Lead</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_after_1_day</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIRST_CALL_MADE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nullDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-02-19T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LandingPage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OwnerName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_1_day</targetReference>
            </connector>
            <label>Execute after 1 day</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_hr_After_Lead</name>
        <label>1 hr After Lead</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_after_1_hr</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIRST_CALL_MADE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nullDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-02-19T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LandingPage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OwnerName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Lead_owner</targetReference>
            </connector>
            <label>Execute after 1 hr</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_day_After_Lead</name>
        <label>2 day After Lead</label>
        <locationX>1942</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_after_2_day</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIRST_CALL_MADE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nullDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-02-19T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LandingPage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OwnerName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Send_2_days</targetReference>
            </connector>
            <label>Execute after 2 day</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_hr_After_Lead</name>
        <label>2 hr After Lead</label>
        <locationX>622</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_after_2_hr</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIRST_CALL_MADE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nullDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-02-19T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LandingPage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OwnerName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert</targetReference>
            </connector>
            <label>Execute after 2 hr</label>
        </rules>
    </decisions>
    <decisions>
        <name>X4_hr_After_Lead</name>
        <label>4  hr After Lead</label>
        <locationX>1062</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_after_4_hr</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIRST_CALL_MADE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nullDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-02-19T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Landing_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LandingPage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OwnerName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_4_hours</targetReference>
            </connector>
            <label>Execute after 4 hr</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>nullDate</name>
        <dataType>DateTime</dataType>
        <expression>Null</expression>
    </formulas>
    <interviewLabel>Lead - First Call Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - First Call Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>OR({!$Record.RecordType.DeveloperName}=&apos;Inside_Sales&apos;, {!$Record.RecordType.DeveloperName}=&apos;Master&apos;)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Hour_After_Lead_Created_Date</name>
            <connector>
                <targetReference>X1_hr_After_Lead</targetReference>
            </connector>
            <label>1 Hour After Lead: Created Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Hours_After_Lead_Created_Date</name>
            <connector>
                <targetReference>X2_hr_After_Lead</targetReference>
            </connector>
            <label>2 Hours After Lead: Created Date</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Hours_After_Lead_Created_Date</name>
            <connector>
                <targetReference>X4_hr_After_Lead</targetReference>
            </connector>
            <label>4 Hours After Lead: Created Date</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Day_After_Lead_Created_Date</name>
            <connector>
                <targetReference>X1_day_After_Lead</targetReference>
            </connector>
            <label>1 Day After Lead: Created Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Days_After_Lead_Created_Date</name>
            <connector>
                <targetReference>X2_day_After_Lead</targetReference>
            </connector>
            <label>2 Days After Lead: Created Date</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
