force-app/main/default/flows/Opportunity_Send_Email_to_Credit_Representative_on_Stage_5_Preliminary_Legal_and.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Credit_Representative</name>
        <label>Send Email to Credit Representative</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Opportunity_Send_Email_to_Credit_Representative_on_Stage_5_Preliminary_Legal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Email_to_Plant_Controller_on_Stage_9</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Plant</name>
        <label>Send Email to Plant</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <actionName>Opportunity.Opportunity_Send_Email_to_Plant_Controller_on_Stage_9_Gaining_Commitment_and_Clo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Alert</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>isNewStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cenveo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom_Label_Quote_Follow_Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Representative_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Credit_Representative</targetReference>
            </connector>
            <label>Email Alert</label>
        </rules>
        <rules>
            <name>Opportunity_Send_Email_to_Plant_Controller_on_Stage_9</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>isNewStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom_Label_Quote_Follow_Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cenveo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_Controller_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Plant</targetReference>
            </connector>
            <label>Opportunity - Send Email to Plant Controller on Stage 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_to_Plant_Controller_on_Stage_9</name>
        <label>Send Email to Plant Controller on Stage 9</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_to_Plant_Controller</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>isNewStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom_Label_Quote_Follow_Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cenveo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_Controller_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Plant</targetReference>
            </connector>
            <label>Send Email to Plant Controller</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewStageName</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity - Send Email to Credit Representative on Stage 5. Preliminary Legal and New Customer Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Send Email to Credit Representative on Stage 5. Preliminary Legal and New Customer Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Alert</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
